//! **************************************************************************
// Written by: Map P.20131013 on Thu Sep 22 18:26:08 2022
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

